:root {
    --space-bg: #0b0d17;
    --text-muted: #FFFFFF;
    --text-muted: #d0d6f9;
    --space-accent: #383b4b;
    --font-serif: 'Bellefair', serif;
    --font-condense: 'Barlow Condensed'. sans-serif;
    --font-body: 'Barlow', sans-serif;
}